{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <h1 class="mb-4">Recipes</h1>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/non.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Italiano Pizza Margherita</h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Pâte à pizza</li>
                   <li>Sauce tomate</li> 
                 <li>Mozzarella</li>
               <li>Basilic frais</li> 
                   <li>Huile d'olive</li> 
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/nan.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Hamburger</h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Pain à hamburger</li>
                   <li>Steak haché</li> 
                 <li>Fromage,Laitue</li>
               <li>Ketchup
Moutarde</li> 
                   <li>Tomate,Oignon</li> 
                </div>
            </div>
           </div> 
           <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/falafel.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Libaines Falafel</h5>
                    <p class="card-text">Ingredients</p>
                     <ul>
                   <li>Pois chiches</li>
                   <li>Oignons
Persil frais</li> 
                 <li>Coriandre fraîche
Ail</li>
               <li>Coriandre moulue
Sel</li> 
                   <li>Poivre</li> 
                    </form>
                </div>
            </div>
           </div> 
           <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/kabsa.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Kabsa</h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Poulet ou agneau</li>
                   <li>Riz</li> 
                 <li>Tomates
Oignons
Ail</li>
               <li>Raisins secs/li> 
                   <li>Amandes</li>
                </div>
            </div>
            </div>

        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/nodlz.png')  }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title"> korean Nodlz </h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Nouilles de riz</li>
                   <li>Légumes</li> 
                 <li>Sauce soja
Sauce hoisin</li>
               <li>Huile de sésame</li> 
                   <li>Oignons verts</li>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/couscous.jpeg') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Couscous Tunisien</h5>
                    <p class="card-text">Ingredients</p>
                   
 <ul>
                   <li>Semoule de couscous</li>
                   <li>Sauce tomate</li> 
                 <li>Légumes</li>
               <li>Viande</li> 
                   <li>Oignons
Épices</li>

                    
                       
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <div class="card">
                <img src="{{ asset('images/chines.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Suchi_chines</h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Riz à sushi</li>
                   <li>Vinaigre de riz</li> 
                 <li>Algues nori</li>
               <li>Poisson cru</li> 
                   <li>Avocat
Concombre</li> 
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/blanche.jpeg') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Hamburger</h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Pain à hamburger</li>
                   <li>Steak haché</li> 
                 <li>Fromage,Laitue</li>
               <li>Ketchup
Moutarde</li> 
                   <li>Tomate,Oignon</li> 
                </div>
            </div>
           </div> 
           <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/mosli.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Libaines Falafel</h5>
                    <p class="card-text">Ingredients</p>
                     <ul>
                   <li>Pois chiches</li>
                   <li>Oignons
Persil frais</li> 
                 <li>Coriandre fraîche
Ail</li>
               <li>Coriandre moulue
Sel</li> 
                   <li>Poivre</li> 
                    </form>
                </div>
            </div>
           </div> 
           <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/tacos.png') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Tacos Mexicains</h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Tortillas de maïs</li>
                   <li>Viande de bœuf hachée</li> 
                 <li>Poivrons
Oignons
Ail</li>
               <li>Haricots noirs
</li> 
                   <li>Laitue</li>
                </div>
            </div>
            </div>

        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/brik.png')  }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title"> Brik Tunisien </h5>
                    <p class="card-text">Ingredients</p>
                    <ul>
                   <li>Feuilles de brick</li>
                   <li>Thon en conserve</li> 
                 <li>SOeufs
Câpres
Persil frais</li>
               <li>Huile de sésame</li> 
                   <li>Oignons verts</li>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <img src="{{ asset('images/aainab.jpeg') }}" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Wara' Enab</h5>
                    <p class="card-text">Ingredients</p>
                   
 <ul>
                   <li>Feuilles de vigne</li>
                   <li>Riz
Viande hachée</li> 
                 <li>Oignon
Persil frais</li>
               <li>Viande</li> 
                   <li>Menthe fraîche
Épices</li>

                    
                       
                </div>
            </div>
        </div>
    </div>
        
    

{% endblock %}
